<table>
    <thead>
      <tr>
        <th>SECOND NAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>E-MAIL</th>
        <th>PHONE NUMBER</th>
        <th>BIRTHDAY</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers">
            <td>{{teacher.second_name}}</td>
            <td>{{teacher.first_name}}</td>
            <td>{{teacher.last_name}}</td>
            <td>{{teacher.e_mail}}</td>
            <td>{{teacher.phone_number}}</td>
            <td>{{teacher.birthday}}</td>
    </tbody>
</table>

  
  
  