<form 
    class="card"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="card-content">
        <div class="form-group">
            <label for="group">Select group to join:</label>
            <select class="form-control" formControlName="group" 
                    (change)="addGroupToSelected($event.target.value)">
                <option *ngFor="let group of groups" [value]="group.id">{{group.dance.name}} - {{group.group_level}}</option>
            </select>
        </div>
    </div>
    <div class="card-action">
        <button 
            type="submit"
            class="form_button"
        >Save</button>
    </div>
</form>

<div class="admin-block">
    <router-outlet></router-outlet>
</div>