<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item" routerLinkActive="active"><a href="/client/joingroup">Join group</a></li>
        <li class="left-item" routerLinkActive="active"><a href="/client/schedule">Schedule</a></li>
        <li class="right-item" routerLinkActive="active"><a href="#">Log out</a></li>
        <li class="right-item" routerLinkActive="active"><a href="/client/profile">Profile</a></li>
    </ul>
    <a routerLink="/client/start" class="navbar-logo">Dance school</a>
</nav>
<div class="client-block">
    <router-outlet></router-outlet>
</div>

