<table>
    <thead>
      <tr>
        <th>DANCE</th>
        <th>LEVEL</th>
        <th>TEACHER</th>
        <th>BEGIN</th>
        <th>END</th>
        <th>LENGTH</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
        <tr style='cursor:pointer' *ngFor="let lesson of lessons" (click)="rowClicked(lesson)">
            <td>{{lesson.dance}}</td>
            <td>{{lesson.group_level}}</td>
            <td>{{lesson.teacher}}</td>
            <td>{{lesson.begin|date:'short'}}</td>
            <td>{{lesson.end|date:'short'}}</td>
            <td>{{lesson.length}}</td>
            <td>
                <select  (change)="addStatusToSelected($event.target.value)">
                    <option *ngFor="let item of status" [value]="item.value">{{item.name}}</option>
                </select>
            </td>
    </tbody>
</table>
<div class="button-field">
  <button type="submit" (click)="onSubmit()">Submit</button>
</div>



